### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
src/app/Oracle_JDK-24/conf/jaxp-strict.properties.template
src/app/Oracle_JDK-24/conf/jaxp.properties
src/app/Oracle_JDK-24/conf/logging.properties
src/app/Oracle_JDK-24/conf/management/jmxremote.access
src/app/Oracle_JDK-24/conf/management/jmxremote.password.template
src/app/Oracle_JDK-24/conf/management/management.properties
src/app/Oracle_JDK-24/conf/net.properties
src/app/Oracle_JDK-24/conf/security/java.security
src/app/Oracle_JDK-24/conf/security/policy/limited/default_local.policy
src/app/Oracle_JDK-24/conf/security/policy/limited/default_US_export.policy
src/app/Oracle_JDK-24/conf/security/policy/limited/exempt_local.policy
src/app/Oracle_JDK-24/conf/security/policy/README.txt
src/app/Oracle_JDK-24/conf/security/policy/unlimited/default_local.policy
src/app/Oracle_JDK-24/conf/security/policy/unlimited/default_US_export.policy
src/app/Oracle_JDK-24/conf/sound.properties
src/app/Oracle_JDK-24/include/classfile_constants.h
src/app/Oracle_JDK-24/include/jawt.h
src/app/Oracle_JDK-24/include/jdwpTransport.h
src/app/Oracle_JDK-24/include/jni.h
src/app/Oracle_JDK-24/include/jvmti.h
src/app/Oracle_JDK-24/include/jvmticmlr.h
src/app/Oracle_JDK-24/include/win32/bridge/AccessBridgeCallbacks.h
src/app/Oracle_JDK-24/include/win32/bridge/AccessBridgeCalls.h
src/app/Oracle_JDK-24/include/win32/bridge/AccessBridgePackages.h
src/app/Oracle_JDK-24/include/win32/jawt_md.h
src/app/Oracle_JDK-24/include/win32/jni_md.h
src/app/Oracle_JDK-24/jmods/java.base.jmod
src/app/Oracle_JDK-24/jmods/java.compiler.jmod
src/app/Oracle_JDK-24/jmods/java.datatransfer.jmod
src/app/Oracle_JDK-24/jmods/java.desktop.jmod
src/app/Oracle_JDK-24/jmods/java.instrument.jmod
src/app/Oracle_JDK-24/jmods/java.logging.jmod
src/app/Oracle_JDK-24/jmods/java.management.jmod
src/app/Oracle_JDK-24/jmods/java.management.rmi.jmod
src/app/Oracle_JDK-24/jmods/java.naming.jmod
src/app/Oracle_JDK-24/jmods/java.net.http.jmod
src/app/Oracle_JDK-24/jmods/java.prefs.jmod
src/app/Oracle_JDK-24/jmods/java.rmi.jmod
src/app/Oracle_JDK-24/jmods/java.scripting.jmod
src/app/Oracle_JDK-24/jmods/java.se.jmod
src/app/Oracle_JDK-24/jmods/java.security.jgss.jmod
src/app/Oracle_JDK-24/jmods/java.security.sasl.jmod
src/app/Oracle_JDK-24/jmods/java.smartcardio.jmod
src/app/Oracle_JDK-24/jmods/java.sql.jmod
src/app/Oracle_JDK-24/jmods/java.sql.rowset.jmod
src/app/Oracle_JDK-24/jmods/java.transaction.xa.jmod
src/app/Oracle_JDK-24/jmods/java.xml.crypto.jmod
src/app/Oracle_JDK-24/jmods/java.xml.jmod
src/app/Oracle_JDK-24/jmods/jdk.accessibility.jmod
src/app/Oracle_JDK-24/jmods/jdk.attach.jmod
src/app/Oracle_JDK-24/jmods/jdk.charsets.jmod
src/app/Oracle_JDK-24/jmods/jdk.compiler.jmod
src/app/Oracle_JDK-24/jmods/jdk.crypto.cryptoki.jmod
src/app/Oracle_JDK-24/jmods/jdk.crypto.ec.jmod
src/app/Oracle_JDK-24/jmods/jdk.crypto.mscapi.jmod
src/app/Oracle_JDK-24/jmods/jdk.dynalink.jmod
src/app/Oracle_JDK-24/jmods/jdk.editpad.jmod
src/app/Oracle_JDK-24/jmods/jdk.graal.compiler.jmod
src/app/Oracle_JDK-24/jmods/jdk.graal.compiler.lib.jmod
src/app/Oracle_JDK-24/jmods/jdk.graal.compiler.management.jmod
src/app/Oracle_JDK-24/jmods/jdk.hotspot.agent.jmod
src/app/Oracle_JDK-24/jmods/jdk.httpserver.jmod
src/app/Oracle_JDK-24/jmods/jdk.incubator.vector.jmod
src/app/Oracle_JDK-24/jmods/jdk.internal.ed.jmod
src/app/Oracle_JDK-24/jmods/jdk.internal.jvmstat.jmod
src/app/Oracle_JDK-24/jmods/jdk.internal.le.jmod
src/app/Oracle_JDK-24/jmods/jdk.internal.md.jmod
src/app/Oracle_JDK-24/jmods/jdk.internal.opt.jmod
src/app/Oracle_JDK-24/jmods/jdk.internal.vm.ci.jmod
src/app/Oracle_JDK-24/jmods/jdk.jartool.jmod
src/app/Oracle_JDK-24/jmods/jdk.javadoc.jmod
src/app/Oracle_JDK-24/jmods/jdk.jcmd.jmod
src/app/Oracle_JDK-24/jmods/jdk.jconsole.jmod
src/app/Oracle_JDK-24/jmods/jdk.jdeps.jmod
src/app/Oracle_JDK-24/jmods/jdk.jdi.jmod
src/app/Oracle_JDK-24/jmods/jdk.jdwp.agent.jmod
src/app/Oracle_JDK-24/jmods/jdk.jfr.jmod
src/app/Oracle_JDK-24/jmods/jdk.jlink.jmod
src/app/Oracle_JDK-24/jmods/jdk.jpackage.jmod
src/app/Oracle_JDK-24/jmods/jdk.jshell.jmod
src/app/Oracle_JDK-24/jmods/jdk.jsobject.jmod
src/app/Oracle_JDK-24/jmods/jdk.jstatd.jmod
src/app/Oracle_JDK-24/jmods/jdk.localedata.jmod
src/app/Oracle_JDK-24/jmods/jdk.management.agent.jmod
src/app/Oracle_JDK-24/jmods/jdk.management.jfr.jmod
src/app/Oracle_JDK-24/jmods/jdk.management.jmod
src/app/Oracle_JDK-24/jmods/jdk.naming.dns.jmod
src/app/Oracle_JDK-24/jmods/jdk.naming.rmi.jmod
src/app/Oracle_JDK-24/jmods/jdk.net.jmod
src/app/Oracle_JDK-24/jmods/jdk.nio.mapmode.jmod
src/app/Oracle_JDK-24/jmods/jdk.sctp.jmod
src/app/Oracle_JDK-24/jmods/jdk.security.auth.jmod
src/app/Oracle_JDK-24/jmods/jdk.security.jgss.jmod
src/app/Oracle_JDK-24/jmods/jdk.unsupported.desktop.jmod
src/app/Oracle_JDK-24/jmods/jdk.unsupported.jmod
src/app/Oracle_JDK-24/jmods/jdk.xml.dom.jmod
src/app/Oracle_JDK-24/jmods/jdk.zipfs.jmod
src/app/Oracle_JDK-24/legal/java.base/aes.md
src/app/Oracle_JDK-24/legal/java.base/asm.md
src/app/Oracle_JDK-24/legal/java.base/c-libutl.md
src/app/Oracle_JDK-24/legal/java.base/cldr.md
src/app/Oracle_JDK-24/legal/java.base/COPYRIGHT
src/app/Oracle_JDK-24/legal/java.base/icu.md
src/app/Oracle_JDK-24/legal/java.base/LICENSE
src/app/Oracle_JDK-24/legal/java.base/public_suffix.md
src/app/Oracle_JDK-24/legal/java.base/siphash.md
src/app/Oracle_JDK-24/legal/java.base/unicode.md
src/app/Oracle_JDK-24/legal/java.base/wepoll.md
src/app/Oracle_JDK-24/legal/java.base/zlib.md
src/app/Oracle_JDK-24/legal/java.compiler/COPYRIGHT
src/app/Oracle_JDK-24/legal/java.compiler/LICENSE
src/app/Oracle_JDK-24/legal/java.datatransfer/COPYRIGHT
src/app/Oracle_JDK-24/legal/java.datatransfer/LICENSE
src/app/Oracle_JDK-24/legal/java.desktop/colorimaging.md
src/app/Oracle_JDK-24/legal/java.desktop/COPYRIGHT
src/app/Oracle_JDK-24/legal/java.desktop/freetype.md
src/app/Oracle_JDK-24/legal/java.desktop/giflib.md
src/app/Oracle_JDK-24/legal/java.desktop/harfbuzz.md
src/app/Oracle_JDK-24/legal/java.desktop/jpeg.md
src/app/Oracle_JDK-24/legal/java.desktop/lcms.md
src/app/Oracle_JDK-24/legal/java.desktop/libpng.md
src/app/Oracle_JDK-24/legal/java.desktop/LICENSE
src/app/Oracle_JDK-24/legal/java.desktop/mesa3d.md
src/app/Oracle_JDK-24/legal/java.instrument/COPYRIGHT
src/app/Oracle_JDK-24/legal/java.instrument/LICENSE
src/app/Oracle_JDK-24/legal/java.logging/COPYRIGHT
src/app/Oracle_JDK-24/legal/java.logging/LICENSE
src/app/Oracle_JDK-24/legal/java.management.rmi/COPYRIGHT
src/app/Oracle_JDK-24/legal/java.management.rmi/LICENSE
src/app/Oracle_JDK-24/legal/java.management/COPYRIGHT
src/app/Oracle_JDK-24/legal/java.management/LICENSE
src/app/Oracle_JDK-24/legal/java.naming/COPYRIGHT
src/app/Oracle_JDK-24/legal/java.naming/LICENSE
src/app/Oracle_JDK-24/legal/java.net.http/COPYRIGHT
src/app/Oracle_JDK-24/legal/java.net.http/LICENSE
src/app/Oracle_JDK-24/legal/java.prefs/COPYRIGHT
src/app/Oracle_JDK-24/legal/java.prefs/LICENSE
src/app/Oracle_JDK-24/legal/java.rmi/COPYRIGHT
src/app/Oracle_JDK-24/legal/java.rmi/LICENSE
src/app/Oracle_JDK-24/legal/java.scripting/COPYRIGHT
src/app/Oracle_JDK-24/legal/java.scripting/LICENSE
src/app/Oracle_JDK-24/legal/java.se/COPYRIGHT
src/app/Oracle_JDK-24/legal/java.se/LICENSE
src/app/Oracle_JDK-24/legal/java.security.jgss/COPYRIGHT
src/app/Oracle_JDK-24/legal/java.security.jgss/LICENSE
src/app/Oracle_JDK-24/legal/java.security.sasl/COPYRIGHT
src/app/Oracle_JDK-24/legal/java.security.sasl/LICENSE
src/app/Oracle_JDK-24/legal/java.smartcardio/COPYRIGHT
src/app/Oracle_JDK-24/legal/java.smartcardio/LICENSE
src/app/Oracle_JDK-24/legal/java.sql.rowset/COPYRIGHT
src/app/Oracle_JDK-24/legal/java.sql.rowset/LICENSE
src/app/Oracle_JDK-24/legal/java.sql/COPYRIGHT
src/app/Oracle_JDK-24/legal/java.sql/LICENSE
src/app/Oracle_JDK-24/legal/java.transaction.xa/COPYRIGHT
src/app/Oracle_JDK-24/legal/java.transaction.xa/LICENSE
src/app/Oracle_JDK-24/legal/java.xml.crypto/COPYRIGHT
src/app/Oracle_JDK-24/legal/java.xml.crypto/LICENSE
src/app/Oracle_JDK-24/legal/java.xml.crypto/santuario.md
src/app/Oracle_JDK-24/legal/java.xml/bcel.md
src/app/Oracle_JDK-24/legal/java.xml/COPYRIGHT
src/app/Oracle_JDK-24/legal/java.xml/dom.md
src/app/Oracle_JDK-24/legal/java.xml/jcup.md
src/app/Oracle_JDK-24/legal/java.xml/LICENSE
src/app/Oracle_JDK-24/legal/java.xml/schema10part1.md
src/app/Oracle_JDK-24/legal/java.xml/schema10part2.md
src/app/Oracle_JDK-24/legal/java.xml/xalan.md
src/app/Oracle_JDK-24/legal/java.xml/xerces.md
src/app/Oracle_JDK-24/legal/java.xml/xhtml10.md
src/app/Oracle_JDK-24/legal/java.xml/xhtml10schema.md
src/app/Oracle_JDK-24/legal/java.xml/xhtml11.md
src/app/Oracle_JDK-24/legal/java.xml/xhtml11schema.md
src/app/Oracle_JDK-24/legal/java.xml/xmlspec.md
src/app/Oracle_JDK-24/legal/java.xml/xmlxsd.md
src/app/Oracle_JDK-24/legal/jdk.accessibility/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.accessibility/LICENSE
src/app/Oracle_JDK-24/legal/jdk.attach/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.attach/LICENSE
src/app/Oracle_JDK-24/legal/jdk.charsets/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.charsets/LICENSE
src/app/Oracle_JDK-24/legal/jdk.compiler/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.compiler/LICENSE
src/app/Oracle_JDK-24/legal/jdk.crypto.cryptoki/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.crypto.cryptoki/LICENSE
src/app/Oracle_JDK-24/legal/jdk.crypto.cryptoki/pkcs11cryptotoken.md
src/app/Oracle_JDK-24/legal/jdk.crypto.cryptoki/pkcs11wrapper.md
src/app/Oracle_JDK-24/legal/jdk.crypto.ec/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.crypto.ec/LICENSE
src/app/Oracle_JDK-24/legal/jdk.crypto.mscapi/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.crypto.mscapi/LICENSE
src/app/Oracle_JDK-24/legal/jdk.dynalink/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.dynalink/dynalink.md
src/app/Oracle_JDK-24/legal/jdk.dynalink/LICENSE
src/app/Oracle_JDK-24/legal/jdk.editpad/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.editpad/LICENSE
src/app/Oracle_JDK-24/legal/jdk.graal.compiler.lib/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.graal.compiler.lib/LICENSE
src/app/Oracle_JDK-24/legal/jdk.graal.compiler.lib/simdjson.md
src/app/Oracle_JDK-24/legal/jdk.graal.compiler.management/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.graal.compiler.management/LICENSE
src/app/Oracle_JDK-24/legal/jdk.graal.compiler/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.graal.compiler/LICENSE
src/app/Oracle_JDK-24/legal/jdk.hotspot.agent/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.hotspot.agent/LICENSE
src/app/Oracle_JDK-24/legal/jdk.httpserver/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.httpserver/LICENSE
src/app/Oracle_JDK-24/legal/jdk.incubator.vector/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.incubator.vector/LICENSE
src/app/Oracle_JDK-24/legal/jdk.internal.ed/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.internal.ed/LICENSE
src/app/Oracle_JDK-24/legal/jdk.internal.jvmstat/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.internal.jvmstat/LICENSE
src/app/Oracle_JDK-24/legal/jdk.internal.le/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.internal.le/jline.md
src/app/Oracle_JDK-24/legal/jdk.internal.le/LICENSE
src/app/Oracle_JDK-24/legal/jdk.internal.md/commonmark.md
src/app/Oracle_JDK-24/legal/jdk.internal.md/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.internal.md/LICENSE
src/app/Oracle_JDK-24/legal/jdk.internal.opt/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.internal.opt/jopt-simple.md
src/app/Oracle_JDK-24/legal/jdk.internal.opt/LICENSE
src/app/Oracle_JDK-24/legal/jdk.internal.vm.ci/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.internal.vm.ci/LICENSE
src/app/Oracle_JDK-24/legal/jdk.jartool/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.jartool/LICENSE
src/app/Oracle_JDK-24/legal/jdk.javadoc/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.javadoc/dejavufonts.md
src/app/Oracle_JDK-24/legal/jdk.javadoc/jquery.md
src/app/Oracle_JDK-24/legal/jdk.javadoc/jqueryUI.md
src/app/Oracle_JDK-24/legal/jdk.javadoc/LICENSE
src/app/Oracle_JDK-24/legal/jdk.jcmd/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.jcmd/LICENSE
src/app/Oracle_JDK-24/legal/jdk.jconsole/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.jconsole/LICENSE
src/app/Oracle_JDK-24/legal/jdk.jdeps/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.jdeps/LICENSE
src/app/Oracle_JDK-24/legal/jdk.jdi/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.jdi/LICENSE
src/app/Oracle_JDK-24/legal/jdk.jdwp.agent/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.jdwp.agent/LICENSE
src/app/Oracle_JDK-24/legal/jdk.jfr/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.jfr/LICENSE
src/app/Oracle_JDK-24/legal/jdk.jlink/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.jlink/LICENSE
src/app/Oracle_JDK-24/legal/jdk.jpackage/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.jpackage/LICENSE
src/app/Oracle_JDK-24/legal/jdk.jshell/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.jshell/LICENSE
src/app/Oracle_JDK-24/legal/jdk.jsobject/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.jsobject/LICENSE
src/app/Oracle_JDK-24/legal/jdk.jstatd/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.jstatd/LICENSE
src/app/Oracle_JDK-24/legal/jdk.localedata/cldr.md
src/app/Oracle_JDK-24/legal/jdk.localedata/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.localedata/LICENSE
src/app/Oracle_JDK-24/legal/jdk.localedata/thaidict.md
src/app/Oracle_JDK-24/legal/jdk.management.agent/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.management.agent/LICENSE
src/app/Oracle_JDK-24/legal/jdk.management.jfr/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.management.jfr/LICENSE
src/app/Oracle_JDK-24/legal/jdk.management/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.management/LICENSE
src/app/Oracle_JDK-24/legal/jdk.naming.dns/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.naming.dns/LICENSE
src/app/Oracle_JDK-24/legal/jdk.naming.rmi/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.naming.rmi/LICENSE
src/app/Oracle_JDK-24/legal/jdk.net/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.net/LICENSE
src/app/Oracle_JDK-24/legal/jdk.nio.mapmode/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.nio.mapmode/LICENSE
src/app/Oracle_JDK-24/legal/jdk.sctp/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.sctp/LICENSE
src/app/Oracle_JDK-24/legal/jdk.security.auth/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.security.auth/LICENSE
src/app/Oracle_JDK-24/legal/jdk.security.jgss/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.security.jgss/LICENSE
src/app/Oracle_JDK-24/legal/jdk.unsupported.desktop/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.unsupported.desktop/LICENSE
src/app/Oracle_JDK-24/legal/jdk.unsupported/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.unsupported/LICENSE
src/app/Oracle_JDK-24/legal/jdk.xml.dom/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.xml.dom/LICENSE
src/app/Oracle_JDK-24/legal/jdk.zipfs/COPYRIGHT
src/app/Oracle_JDK-24/legal/jdk.zipfs/LICENSE
src/app/Oracle_JDK-24/lib/classlist
src/app/Oracle_JDK-24/lib/ct.sym
src/app/Oracle_JDK-24/lib/fontconfig.bfc
src/app/Oracle_JDK-24/lib/fontconfig.properties.src
src/app/Oracle_JDK-24/lib/jawt.lib
src/app/Oracle_JDK-24/lib/jfr/default.jfc
src/app/Oracle_JDK-24/lib/jfr/profile.jfc
src/app/Oracle_JDK-24/lib/jrt-fs.jar
src/app/Oracle_JDK-24/lib/jvm.cfg
src/app/Oracle_JDK-24/lib/jvm.lib
src/app/Oracle_JDK-24/lib/modules
src/app/Oracle_JDK-24/lib/psfont.properties.ja
src/app/Oracle_JDK-24/lib/psfontj2d.properties
src/app/Oracle_JDK-24/lib/security/blocked.certs
src/app/Oracle_JDK-24/lib/security/cacerts
src/app/Oracle_JDK-24/lib/security/public_suffix_list.dat
src/app/Oracle_JDK-24/lib/src.zip
src/app/Oracle_JDK-24/lib/tzdb.dat
src/app/Oracle_JDK-24/lib/tzmappings
src/app/Oracle_JDK-24/LICENSE
src/app/Oracle_JDK-24/README
src/app/Oracle_JDK-24/release
